.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: center;
    padding: 20px;
    min-width: 288px;
    width: 90%;
    height: 293px;
    margin: 0 auto;
    border-radius: 8px;
    overflow-y: auto;
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
}