.loginContact {
  position: relative;
  width: 320px;
  margin: 20px auto;
  border-radius: 16px;
  padding: 16px;
  background-color: #508f8c;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    width: 533px;
    margin-top: 176px;
    padding-left: 62px;
    padding-right: 62px;
    padding-top: 53px;
    padding-bottom: 82px;
    gap: 24px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 75px;
  }
}

.loginInputWrap {
  position: relative;
}

.loginInput {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 14px 10px 50px;
  height: 40px;
  width: 100%;
  outline: none;
  background-color: transparent;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #081222;
  transition: background-color 250ms ease, color 250ms ease,
    border-color 250ms ease;
}

.loginInput::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #081222;
}

.loginInput:hover {
  border-color: #3b5d63;
}

.loginErrorMessage {
  margin-top: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #b20202;
}

.error {
  border-color: #b20202;
  color: #b20202;
}

.success {
  border-color: #0b6016;
  color: #0b6016;
}

.loginButton,
.registerButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  border: 1px solid #081222;
  border-radius: 8px;
  padding: 11px 79px;

  background-color: transparent;
  transition: background-color 250ms ease, color 250ms ease,
    border-color 250ms ease;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #081222;
}

.registerButton:hover,
.registerButton:focus,
.loginButton:hover,
.loginButton:focus {
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
  color: #fcfcfc;
  border-color: #3b5d63;
}

.loginButton {
  @media screen and (min-width: 768px) {
    margin-top: 8px;
  }
}

.loginLink {
  text-decoration: none;
  width: 100%;
}

.pocketImg {
  width: 159px;
  align-self: flex-end;

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: -271px;
    right: -110px;
    width: 320px;
  }
}

.logo {
  width: 182px;
  align-self: center;
}

.emailIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 14px;
  color: #081222;
}

.emailIcon.error {
  color: #b20202;
}

.emailIcon.success {
  color: #0b6016;
}
