.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transactionContainer {
    position: relative;
    width: 288px;
    border-radius: 16px;
    overflow: hidden;
}

.tableHeader {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stub {
    text-align: center;
    color: white;
    font-family: Inter;
    font-size: 24px;
    padding-top: 60px;
}

.fabContainer {
    position: fixed;
    right: calc(50% - 144px);
    bottom: 1rem;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #508f8c;
    border: 2px solid transparent;
    color: black;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 150ms ease-in-out;
}

.fabContainer:hover {
    background-color: #1e2a38;
}

/* Tablet */

@media (min-width: 768px) {
    .transactionContainer {
        width: 704px;
        margin: 0 auto;
    }

    .container {
        height: 538px;
        width: 704px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #3b5d63;
    }

    .tableHeader {
        display: grid;
        margin: 0 0 -2px 0;
        grid-template-columns: repeat(6, 1fr) auto auto;
        align-items: center;
        padding: 0.1rem 2.25rem;
        color: white;
        height: 48px;
        background-color: #3b5d63;
    }

    .invis {
        color: #3b5d63;
    }

    .type {
        text-align: center;
    }

    .fabContainer {
        position: fixed;
        width: 64px;
        height: 64px;
        bottom: 20px;
        right: calc(50% - 336px);
    }

    /* Основной контейнер со скроллингом */
    .scroll-container {
        overflow-y: scroll;
        scrollbar-width: thin;
        /* Firefox */
        scrollbar-color: #508f8c #294045;
        /* thumb и track для Firefox */
        padding-bottom: 28px;
    }

    /* Для браузеров на основе WebKit (Chrome, Safari, Edge) */
    .scroll-container::-webkit-scrollbar {
        width: 6px;
    }

    .scroll-container::-webkit-scrollbar-track {
        background: #294045;
    }

    .scroll-container::-webkit-scrollbar-thumb {
        background-color: #508f8c;
        border-radius: 10px;
        border: 1px solid transparent;
    }

    .scroll-container::-webkit-scrollbar-button {
        display: none;
        width: 0;
        height: 0;
    }

    .scroll-container::-webkit-scrollbar-button:single-button {
        display: none;
        width: 0;
        height: 0;
    }

    .scroll-container::-webkit-scrollbar-button:decrement,
    .scroll-container::-webkit-scrollbar-button:increment {
        display: none;
        height: 0;
        width: 0;
    }
}

/* Desktop */
@media (min-width: 1280px) {
    .wrapper {
        padding: 32px 0 0 0;
    }

    .container {
        max-width: 757px;
    }

    .fabContainer {
        width: 56px;
        height: 56px;
        right: calc(50% - 330px);
    }
}
