.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    width: 287px;
    background-color: #508F8C;
    padding: 16px 16px 22px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 128px;
    left: 50%;
    transform: translateX(-50%);
}

.logo_modal {
    width: 182px;
    height: 94px;
}

.text_modal {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 1.25;
    color: #081222;
    max-width: 196px;
}

.buttons_modal {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.btnDelete,
.btnCancel {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    border: 1px solid #081222;
    border-radius: 8px;
    padding: 11px 93px;
    transition: background 250ms linear, color 250ms linear;
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btnDelete {
    background-color: red;
    color: white;
}

.btnCancel {
    background-color: transparent;
    color: #081222;
}

.btnDelete:hover,
.btnDelete:focus {
    background: linear-gradient(to bottom, darkred 0%, darkred 100%);
}

.btnCancel:hover,
.btnCancel:focus {
    background: linear-gradient(to bottom, #355359 0%, #3B5D63 100%);
    color: #FCFCFC;
}

/* Планшет */
@media (min-width: 768px) {
    .modal {
        width: 533px;
        padding: 53px 61px 47px;
        gap: 24px;
    }

    .logo_modal {
        padding-bottom: 12px;
    }

    .text_modal {
        max-width: 292px;
    }

    .buttons_modal {
        gap: 21px;
    }

    .btn_modal {
        padding: 11px 174px;
    }
}