.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal {
    max-width: 287px;
    width: 100%;
    background-color: #508F8C;
    padding: 16px 8px 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 38px;
    left: 50%;
    transform: translateX(-50%);
}

.btn_close {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 16px;
}

.title {
    padding-top: 24px;
    font-size: 30px;
    font-weight: 700;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.wrapper_Tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.form_input {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 14px;
    height: 40px;
    width: 100%;
    outline: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 18px;
    color: #081222;
    transition: border-color 250ms ease; 
}

.form_input_data {
    outline: none;
    border: none;
    padding: 10px 14px;
    height: 40px;
    width: 100%;
    background-color: transparent;
    font-weight: 500;
    font-size: 18px;
    color: #081222;
    transition: border-color 250ms ease;
}


.form_input:hover {
    color: #081222;
    border-color: #3b5d63;
}

.form_wrapper_data {
    display: flex;
    align-items: center;
    justify-content:space-around;
    border: 1px solid black;
    border-radius: 8px;
    padding-right: 12px;
    position: relative;
    z-index: 100;
}

.form_wrapper_data:hover {
    color: #081222;
    border-color: #3b5d63;
}

.icon {
    width: 18px;
    height: 20px;
}

.buttons_modal {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.btn_modal {
    background-color: transparent;
    color: #081222;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    border: 1px solid #081222;
    border-radius: 8px;
    padding: 11px 93px;
    transition: background 250ms linear, color 250ms linear;
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.btn_modal:hover,
.btn_modal:focus {
    background: linear-gradient(to bottom, #355359 0%, #3B5D63 100%);
    color: #FCFCFC;
}

.error {
    margin-top: 4px;
    font-size: 10px;
    color: #b20202; 
}

.input_wrap {
    width: 100%;
    position: relative; 
}

/* Планшет */
@media (min-width: 768px) {
    .modal {
        max-width: 540px;
        padding: 20px 65px 46px;
    }
    .wrapper_Tab {
        flex-direction: row;
    }
    .form_wrapper_data {
        padding-right: 17px;   
    }
}