.sidebar_wrapper {
  /* padding: 24px 16px; */
  margin: 24px auto;
}
.sidebar_mob {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
/*Планшет*/
@media (min-width: 768px) {
  .sidebar_wrapper {
    /* padding: 32px; */
    display: flex;
    margin: 32px auto;
    gap: 32px;
    justify-content: center;
  }
  .Tab_left {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

/*Десктоп*/
@media (min-width: 1280px) {
  .sidebar_wrapper {
    max-width: 1280px;
    margin: 32px auto;
    justify-content: flex-start;
  }
  .desc_sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 451px;
  }
  .desc_bal_cur {
    padding: 24px;
    background: linear-gradient(to bottom, #355359 0%, #3b5d63 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
