:root {
  --deep-dark: #2a2a2a;
}

/* Базові стилі */
.registerContact {
  margin: auto;
  border: 2px solid var(--deep-dark);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 40px;
  background-color: white;
  width: 100%;
  max-width: 400px;
}

/* Адаптація під мобільні */
@media (max-width: 767px) {
  .registerContact {
    padding: 16px;
    max-width: 90%;
  }

  .registerInput {
    font-size: 14px;
    padding: 8px 10px;
    width: 100%;
  }

  .registerButton {
    font-size: 14px;
    padding: 10px;
  }
}

/* Адаптація під планшети */
@media (min-width: 768px) and (max-width: 1279px) {
  .registerContact {
    padding: 24px;
    max-width: 500px;
  }
}

/* Адаптація під десктоп */
@media (min-width: 1280px) {
  .registerContact {
    padding: 32px;
    max-width: 600px;
  }
}

.registerLabel {
  text-align: start;
  display: block;
  margin-bottom: 8px;
}

.registerInputWrap {
  position: relative;
}

.registerInput {
  border-style: none;
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 12px;
  width: 100%;
  margin-bottom: 30px;
}

.registerErrorMessage {
  position: absolute;
  top: 32px;
  left: 8px;
  color: rgb(226, 93, 40);
}

.registerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: auto;
  width: 100%;
  padding: 0.75rem;
  font-size: 16px;
}
