.registerOverlay {
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.registerContact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* gap: 16px; */
  border-radius: 16px;
  padding: 16px;
  padding-bottom: 37px;
  width: 90%;
  max-width: 533px;
  height: auto;
  background: #508f8c;
  margin: auto;
}

.registerLogo {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.logo {
  width: 120px;
  height: auto;
}

.inputIconWrap {
  position: relative;
  margin-bottom: 1.25rem;
  width: 100%;
}

.inputGroup {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid #191b1c;
  border-radius: 8px;
  background: transparent;
}

.icon {
  color: #081222;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  flex-shrink: 0;
}

.registerInput {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  padding: 10px 0;
}

.registerInput::placeholder {
  color: #081222;
}

.registerErrorMessage {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.buttonGroup {
  /* margin-top: 1.5rem; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.registerButton {
  width: 100%;
  height: 44px;
  padding: 11px 79px;
  background-color: #0077ff;
  font-weight: 500;
  text-align: center;
  color: #fcfcfc;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
}

.registerButton:disabled {
  background-color: #fcfcfc;
  cursor: not-allowed;
}

.loginButton {
  width: 100%;
  background-color: transparent;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #081222;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #081222;
  padding: 11px 68px;
}

@media (min-width: 768px) {
  .registerContact {
    width: 533px;
    padding: 32px 32px 32px 32px;
    border-radius: 16px;
  }

  .inputIconWrap {
    position: relative;
    margin-bottom: 1.25rem;
  }

  .buttonGroup {
    width: 409px;
    margin-top: 56px;
  }

  .logo {
    width: 182px;
    margin-bottom: 32px;
  }

  .inputIconWrap:not(:last-of-type) {
    margin-bottom: 1.25rem;
  }

  .inputIconWrap:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
}
