/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap);

:root {
  margin: 0 auto;
  background: linear-gradient(180deg, #294045 0%, #1e2f33 100%);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  background: linear-gradient(180deg, #294045 0%, #1e2f33 100%);
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  display: block;
  max-width: 100%;
}
main {
  flex-grow: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  text-align: center;
  font-family: var(--font-family);
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-scroll {
  overflow: hidden;
}
.App {
  overflow: hidden;
}